.product-card-img {
  max-height: 200px; 
  object-fit: contain; 
  width: 100%; 
  padding: 10px; 
}

.card {
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: transform 0.2s ease-in-out; 
}

.card:hover {
  transform: translateY(-5px);
}

.card-body {
  text-align: center; 
}

.card-title {
  font-size: 1.25rem; 
  margin-bottom: 0.5rem;
  color: #333; 
}

.card-text {
  font-size: 0.9rem; 
  color: #666;
}

.btn-primary {
  background-color: #F2A1C2; 
  border-color: #F2A1C2;
  border-radius: 8px; 
  font-weight: bold;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.btn-primary:hover {
  background-color: #F2A1C2; 
  border-color: #F2A1C2;
}
