<div class="login-container d-flex align-items-center justify-content-center vh-100">
  <div class="card login-card shadow-lg p-4">
    <h4 class="text-center mb-4 login-title">Iniciar Sesión</h4>

    <div class="mb-3">
      <label for="usernameInput" class="form-label login-label">Usuario</label>
      <input type="text" class="form-control login-input" id="usernameInput" placeholder="Ingresa tu usuario" required [(ngModel)]="usuario">
    </div>
    <div class="mb-3">
      <label for="passwordInput" class="form-label login-label">Contraseña</label>
      <input type="password" class="form-control login-input" id="passwordInput" placeholder="Ingresa tu contraseña" required
        [(ngModel)]="clave">
    </div>
    <div class="d-grid mt-4">
      <button class="btn btn-primary login-button" (click)="Login();">Entrar</button>
    </div>

    <div class="text-center mt-3 login-links">
      <a href="#" class="text-decoration-none forgot-password-link">¿Olvidaste tu contraseña?</a>
      <br>
      <p class="mt-2" [ngClass]="{'text-danger': mensaje, 'text-success': !mensaje && mensaje !== ''}">{{mensaje}}</p>
    </div>
  </div>
</div>
